<a class="align-items-center"
   href="{% url 'registro:detalle_accion' element.id %}"
   data-bs-toggle="tooltip"
   data-bs-placement="top"
   title="Detalles acción">
    <i class="ki-duotone ki-screen fs-2x">
        <div class="path1"></div>
        <div class="path2"></div>
        <div class="path3"></div>
        <div class="path4"></div>

    </i>
</a>
<a class="align-items-center"
   href="{% url 'registro:editar_accion' element.pk %}"
   data-bs-toggle="tooltip"
   data-bs-placement="top"
   title="Editar acción">
    <i class="ki-duotone ki-notepad-edit fs-2x">
        <div class="path1"></div>
        <div class="path2"></div>
        <div class="path3"></div>
        <div class="path4"></div>

    </i>
</a>

<a class="align-items-center"
   href="{% url 'registro:lista_presupuesto_planificado' element.id %}"
   data-bs-toggle="tooltip"
   data-bs-placement="top"
   title="Presupuesto">
    <i class="ki-duotone ki-dollar fs-2x">
        <div class="path1"></div>
        <div class="path2"></div>
        <div class="path3"></div>
        <div class="path4"></div>

    </i>
</a>
<a class="align-items-center"
   href="{% url 'registro:lista_indicador' element.id %}"
   data-bs-toggle="tooltip"
   data-bs-placement="top"
   title="Indicadores">
    <i class="ki-duotone ki-graph-up fs-2x">
        <div class="path1"></div>
        <div class="path2"></div>
        <div class="path3"></div>
        <div class="path4"></div>
        <div class="path5"></div>
        <div class="path6"></div>

    </i>
</a>
<a class="align-items-center"
        {#                                           href="{% url 'adaptacion:lista_resultado_accion_adaptacion' element.id %}"#}
   href="#"
   data-bs-toggle="tooltip"
   data-bs-placement="top"
   title="Resultados">
    <i class="ki-duotone ki-book fs-2x">
        <div class="path1"></div>
        <div class="path2"></div>
        <div class="path3"></div>
        <div class="path4"></div>

    </i>
</a>
<a class="align-items-center"
        {#                                           href="{% url 'adaptacion:lista_cobeneficio_accion_adaptacion' element.id %}"#}
   href="#"
   data-bs-toggle="tooltip"
   data-bs-placement="top"
   title="Cobeneficios">
    <i class="ki-duotone ki-wallet fs-2x">
        <div class="path1"></div>
        <div class="path2"></div>
        <div class="path3"></div>
        <div class="path4"></div>

    </i>
</a>