<div id="kt_datatable_example_export_menu"
     class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-danger fw-semibold fs-7 w-200px py-4"
     data-kt-menu="true">
    <!--begin::Menu item-->
    <div class="menu-item px-3">
        <a href="#" class="menu-link px-3" data-kt-export="copy">
            Copiar Tabla
        </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-3 ">
        <a href="#" class="menu-link px-3" data-kt-export="excel">
            Exportar a Excel
        </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-3">
        <a href="#" class="menu-link px-3" data-kt-export="csv">
            Exportar a CSV
        </a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-3">
        <a href="#" class="menu-link px-3" data-kt-export="pdf">
            Exportar a PDF
        </a>
    </div>
    <!--end::Menu item-->
</div>